@model List<Category>;
@if (TempData["Success"] is not null) 
{
  <p>@TempData["Success"]</p>
}
@if (TempData["Error"] is not null) 
{
  <p>@TempData["Error"]</p>
}
<h>Category</h>
<br>
<a class="btn btn-info" asp-controller="Category" asp-action="Create">Create</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var category in Model) {
        <tr>
            <td>
                @category.CategoryId
            </td>
            <td>
                @category.CategoryName
            </td>
            <td>
                @category.Description
            </td>
            <td>
               <a class="btn btn-warning" asp-controller="Category" asp-action="Update" asp-route-id="@category.CategoryId">Update</a>
               <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
            </td>
        </tr>
    }
  </tbody>
</table>
